body{
    font-family: 'Noto Serif', serif;
}

.intro{
    display: flex;
    flex-grow: 1;
    margin: auto;
}

.main-photo {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, rgba(187,161,158, 0.5
    ), rgba(187,161,158, 1));
    background-size: cover;
    height: 50vh;
    width: 40%;
    align-items: center;
    justify-content: center;
}
.main-photo img {
    width: 50%;
    height: auto;
    border: solid 4px #C6746B;
    border-radius: 3px;
}

.me{
    background: linear-gradient(to top, rgba(187,161,158, 0.5
    ), rgba(187,161,158, 1)), 
    url("../assets/flores.jpg");
    backdrop-filter: blur(20px);
    background-size: cover;
    height: 50vh;
    width: 60%;
    display:flex;
    align-items: center;
    justify-content:center;
}

.moreaboutme {
    color: #172623;
    justify-content: center;
    align-items: center;
}

.moreaboutme h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Noto Serif';
}

.moreaboutme h2{
    font-size: 30px;
    font-weight: normal;
}
.me .moreaboutme .redes{
    align-items: center;
    justify-content: center;
}
.me .moreaboutme .redes a{
    color: #16333e;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #16333e;
    background-color: #bba19e;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 30px 5px;
    font-size: 20px;
    transition: .3s;

}
.me .moreaboutme .redes a:hover{
    background-color: #C6746B;
}

.menu {
    overflow: hidden;
    display: flex;
    position: fixed;
    width: 100%;
    background-color: #16333e;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100px;
    top: 0;

    
  }

.menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;
} 
  
.menu ul li {
    width: max-content;
    margin: 10px;
    height: auto;
    text-align: center;   
    font-size: large;
    font-weight: bold;
    
}

.menu ul li a{
    text-decoration: none;
    color: #bba19e;
    
}

.menu ul li a:hover{
    color: #C6746B;
}
.nav-responsive{
    background-color: #bba19e;
    color: #C6746B;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.aboutme{
    width: 100%;
    background-color:whitesmoke;
    color: #172623;
    padding: 50px 20px;
}

.aboutme .content-section{
    max-width: 1100px;
    margin: auto;
    height: auto;
}

.aboutme h2{
    font-size: 48px;
    font-family: 'Noto Serif';
    text-align: center;
    padding: 20px 0;
}

.aboutme .content-section p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.aboutme .content-section p span{
    color: #16333e;
    font-weight: bold;
}

.aboutme .row{
    display: flex;
}
.aboutme .row .col{
    width: 50%;
}

.aboutme .row .col h3{
    font-size: 28px;
    font-family: 'Noto Serif';
    margin-bottom: 25px;
}

.aboutme .row .col ul{
    list-style: none;
}

.aboutme .row .col ul li{
    margin: 12px 0;
}

.aboutme .row .col ul li strong{
    display: inline-block;
    color: #bba19e;
    width: 120px;
}

.aboutme .row .col .interests-content{
    display: flex;
    flex-wrap: wrap;
}

.aboutme .row .col .interests-content .interests{
    width: 100px;
    height: 100px;
    background-color: #16333e;
    color: #bba19e;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.aboutme .row .col .interests-content .interests:hover{
    color: #C6746B;
}

.aboutme .row .col .interests-content .interests i{
    font-size: 30px;
    margin-bottom: 10px;
}

.skills{
    width: 100%;
    background-color: #16333e;
    color: #bba19e;
    padding: 50px 20px;
}

.skills .content-skills{
    max-width: 1100px;
    margin: auto;
    height: auto;
}

.skills h2{
    font-size: 48px;
    font-family: 'Noto Serif';
    text-align: center;
    padding: 20px 0;
}

.skills .row{
    display: flex;
}

.skills .row .col{
    width: 50%;
    padding: 0 20px;
}

.skills .row .col h3{
    font-size: 28px;
    font-family: 'Noto Serif';
    margin-bottom: 25px; 
}

.skills .skill >span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skills .skill .skill-tab{
    height: 8px;
    width: 80%;
    background-color: #172623;
    position: relative;
    margin-bottom: 30px;
}

.skills .skill .skill-tab span{
    color: #172623;
}
.skills .skill .progress{
    background-color: #C6746B;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.skills .skill .skill-tab span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #C6746B;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px 
}

.skills .skill .java{
    width: 0%;
    animation: 2s java forwards;
}
@keyframes java {
    0%{width: 0%;}
    100%{width: 40%;}
}

.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 50%;}
}

.skills .skill .crm{
    width: 0%;
    animation: 2s crm forwards;
}
@keyframes crm {
    0%{width: 0%;}
    100%{width: 70%;}
}

.skills .skill .office365{
    width: 0%;
    animation: 2s office365 forwards;
}
@keyframes office365 {
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .communicative {
    width: 0%;
    animation: 2s communicative forwards;
}
@keyframes communicative {
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .teamwork {
    width: 0%;
    animation: 2s teamwork forwards;
}
@keyframes teamwork {
    0%{width: 0%;}
    100%{width: 85%;}
}

.skills .skill .problemsolving {
    width: 0%;
    animation: 2s problemsolving forwards;
}
@keyframes problemsolving {
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .projectmanagement {
    width: 0%;
    animation: 2s projectmanagement forwards;
}
@keyframes projectmanagement {
    0%{width: 0%;}
    100%{width: 90%;}
}
.edx{
    width: 100%;
    background-color: whitesmoke;
    color: #172623;
    padding: 50px 20px;
}

.edx .content-section{
    max-width: 1100px;
    margin: auto;
    height: auto;
    justify-content: center;
    text-align: center;
}

.edx h2{
    font-size: 48px;
    font-family: 'Noto Serif';
    text-align: center;
    padding: 20px 0;
}
.edx .row{
    display: flex;
}

.edx .row .left-col{
    width: 50%;
    padding: 0 20px;
    border-right: 2px solid #C6746B;
}
.edx .row .right-col{
    width: 50%;
    padding: 0 20px;
    border-left: 2px solid #C6746B;
}

.edx .row .left-col h3{
    font-size: 35px;
    font-family: 'Noto Serif';
    margin-bottom: 25px; 
}

.edx .row .right-col h3{
    font-size: 35px;
    font-family: 'Noto Serif';
    margin-bottom: 25px; 
}

.edx .row .left-item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #bba19e;
    position: relative;
    border-right: 2px solid #C6746B;
    margin-right: 20px;
}

.edx .row .left-item h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.edx .row .right-item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #bba19e;
    position: relative;
    border-left: 2px solid #C6746B;
    margin-left: 20px;
}

.edx .row .right-item h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.edx .row .left-item .where{
    color: #C6746B;
    font-size: 18px;
    font-weight: bold;
    display: block;
}

.edx .row .left-item .when{
    display: block;
    color: #16333e;
    margin-bottom: 10px;
}

.edx .row .left-item p{
    line-height: 24px;
}

.edx .row .right-item .where{
    color: #C6746B;
    font-size: 18px;
    font-weight: bold;
    display: block;
}

.edx .row .right-item .when{
    display: block;
    color: #16333e;
    margin-bottom: 10px;
}

.edx .row .right-item p{
    line-height: 24px;
}
.edx .row .left-item .conectori{
    height: 2px;
    background-color: #C6746B;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
 }

 .edx .row .right-item .conectord{
    height: 2px;
    background-color: #C6746B;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
 }

 .edx .row .left-item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #C6746B;
    float: right;
    position: relative;
    bottom: 4px;
 }

 .edx .row .right-item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #C6746B;
    float: left;
    position: relative;
    bottom: 4px;
 }
