.with-quicksand{
    font-family: Quicksand;
    width: 100%;
    background-color: aqua;
    margin: 0;
  }
  
  .with-quicksand-italic{
    font-family: Quicksand;
    width: 100%;
    background-color: aqua;
    margin: 0;
  }