/* @font-face {
    font-family: Poppins;
    src: local('Poppins'), url(fonts/poppins/Poppins-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: Poppins-Italic;
    src: local('Poppins-Italic'), url(fonts/poppins/Poppins-Italic.ttf) format('truetype');
  } */

.with-roboto{
    font-family: Poppins;
    width: 100%;
    background-color: aqua;
    margin: 0;
  }
  
  .with-roboto-italic{
    font-family: Poppins;
    font-style: italic;
    width: 100%;
    background-color: aqua;
    margin: 0;
  }