
@font-face {
    font-family: Arimo-Bold;
    src: local('Arimo'), url(../fonts/Arimo/Arimo-Italic-VariableFont_wght.ttf) format('truetype');
}
@font-face {
    font-family: Arimo-Italic;
    src: local('Arimo'), url(../fonts/Arimo/Arimo-Italic-VariableFont_wght.ttf) format('truetype');
}

.with-arimo {
    font-family: Arimo-Bold;
    width: 100%;
    background-color: aqua;
    margin: 0;
}

.with-arimo-italic {
    font-family: Arimo-Italic;
    width: 100%;
    background-color: aqua;
    margin: 0;
}