  .with-lora {
      font-family: Lora;
      width: 100%;
      background-color: aqua;
      margin: 0;
  }

  .with-lora {
      font-family: Lora;
      width: 100%;
      background-color: aqua;
      margin: 0;
  }