.with-roboto{
  font-family: Roboto;
  width: 100%;
  background-color: blue;
  margin: 0;
  font-weight: 400;
}

.with-roboto-italic{
  font-family: Roboto;
  width: 100%;
  background-color: aqua;
  margin: 0;
  font-style: italic;
  font-weight: 400;
}