body
{
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", "Avenir", sans-serif;
  padding: 50px;
}
#main-container{
  display: block;
}

#main-container.in-columns{
  display: flex;
}

#navigation{
  color: #cdcdcd;
}

#menu-container
{
  display: block;
  z-index: 1;
  width: 100%;
  background-color: white;
}

#menu-container a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menu-container a:hover
{
  color: tomato;
}


#menu-container input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
}

#menu-container span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menu-container span:first-child
{
  transform-origin: 0% 0%;
}

#menu-container span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menu-container input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menu-container input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menu-container input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu{
  display: none;
}

#menu.displayed{
  display: block;
}

#navigation.navigation-opened{
  width: 30%;
  border: 1px solid black;
}

@media only screen and (max-width: 600px) {
  #navigation.navigation-opened{
    width: 50%;
  }
}