.with-castoro-titling{
    font-family: Castoro Titling;
    width: 100%;
    background-color: aqua;
    margin: 0;
  }
  
  .with-castoro-titling{
    font-family: Castoro_Titling;
    width: 100%;
    background-color: aqua;
    margin: 0;
  } 
  .body{
    background-color: aqua;
  }