body {
    font-family: 'PT Serif', serif;
    /*background-color: rgb(57, 87, 87);*/
    /*background: linear-gradient(blue, pink);*/
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

.d1 {
    /*background-color: rgba(231, 165, 120, 0.479);*/
    position: absolute;
    width: 90%;
    left: 0;
    top: 5%;
    bottom: 5%;
    right: 0;
    margin: auto;
    box-shadow: 10px 5px black;
    border-radius: 1%;
    background: #4AC29A;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BDFFF3, #4AC29A);
    
}

.d2 {

    background-color: aliceblue;
    position: absolute;
    width: 18%;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 10px 5px black;
}

.f1 {
    height: 20%;
    width: 50%;
    position: relative;
    top: 10px;
    right: 50%;
    left: 25%;
    border-radius: 10%;
}

.f2 {
    left: 25%;
    height: 9%;
    width: 43%;
    position: relative;
    right: 25%;
    border-radius: 10%;

}


.f3 {
    left: 25%;
    height: 15%;
    width: 40%;
    position: relative;
    right: 25%;
    border-radius: 10%;


}

.f4 {
    left: 30%;
    height: 8%;
    width: 30%;
    position: relative;
    right: 25%;
    border-radius: 10%;

}

.f5 {

    position: relative;
    top: 15px;
    left: 25%;
    height: 9%;
    width: 43%;
    right: 25%;
    border-radius: 10%;
}

.tx1 {
    text-align: center;
}

.tx2 {
    text-align: center;
}

.tx3 {
    text-align: center;
}

.b1 {
    left: 20%;

    position: absolute;
    top: 3%;
    width: 300px;
    bottom: 0;

}

.b2 {
    left: 47%;
    position: absolute;
    top: 3%;
    width: 300px;
    bottom: 0;

}

.b3 {
    left: 74%;
    text-align: center;
    position: absolute;
    top: 3%;
    width: 300px;
    right: 0;
    bottom: 0;
}

.tt1 {
    text-align: center;
}

.tt2 {
    text-align: center;
}

.tt3 {
    text-align: center;
}

.tt4 {
    text-align: center;
}

Footer {
    /*  poner footer abajo */
    position: fixed;
    left: 50%;
    top: 94%;
    bottom: 0;
    width: 100%;
}